#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SHELL := sh -e

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@} --parallel --buildsystem=autoconf

override_dh_auto_configure:
	./makeconf.sh
	dh_auto_configure -- --bindir=/bin --libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_fixperms:
	dh_fixperms

ifeq ($(DEB_BUILD_ARCH),linux)
	chmod 0755 debian/tm-libfuse/bin/tmfsrmount
endif

override_dh_install:
	# remove unused files
	rm -f debian/tmp/etc/init.d/tmfs
	rm -f debian/tmp/etc/udev/rules.d/99-tmfs.rules
	rm -f debian/tmp/usr/lib/*/*.la

	#dh_install --fail-missing

	# adjusting /lib for multiarch
	#mkdir -p debian/tm-libfuse/lib/$(DEB_HOST_MULTIARCH)
	#mv debian/tm-libfuse/lib/*.so* debian/tm-libfuse/lib/$(DEB_HOST_MULTIARCH)
	#mkdir -p debian/tm-libfuse-udeb/lib/$(DEB_HOST_MULTIARCH)
	#mv debian/tm-libfuse-udeb/lib/*.so* debian/tm-libfuse-udeb/lib/$(DEB_HOST_MULTIARCH)

	# adding initramfs-tools integration
	install -D -m 0755 debian/local/tmfs.hook debian/tmfs/usr/share/initramfs-tools/hooks/tmfs

	# adding kmod integration
	install -D -m 0644 debian/local/tmfs.kmod debian/tmfs/lib/modules-load.d/tmfs.conf

override_dh_link:
	# correcting symlink targets
	for LIB in debian/tmp/usr/lib/*/*.so; \
	do \
		dh_link -plibtmfs-dev lib/$(DEB_HOST_MULTIARCH)/$$(basename $$(readlink $${LIB})) usr/lib/$(DEB_HOST_MULTIARCH)/$$(basename $${LIB}); \
	done

	dh_link --remaining-packages

override_dh_makeshlibs:
	dh_makeshlibs -s --add-udeb=tm-libfuse-udeb
